@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --branco-principal: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030c;
    --botao-azul-efeito: #3c92fa;

    --font-tamanho-principal: 3rem;
    --font-tamanho-secundaria: 1rem;
    --font-tamanho-terciaria: 0.75rem;

    --font-principal: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--font-principal);
    font-size: var(--font-tamanho-secundaria);
    font-weight: 600;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao__secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: var(--font-tamanho-terciaria);
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: var(--font-tamanho-principal);
    font-weight: 700;
}

/* .container__imagem {
    margin: 1em 0 2em 0;
} */

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: var(--font-tamanho-principal);
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos {
    text-align: center;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 5em 0;
}

.dispositivos__titulo {
    font-size: var(--font-tamanho-principal);
    color: var(--branco-principal);
}

.lista_item {
    font-size: 2rem;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    margin: 5.3em 7em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
    gap: 16px;
    list-style: none;
}

.lista__link a {
    color: var(--branco-principal);
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link a:active {
    color: purple;
}

.rodape__texto {
    font-size: 0.8rem;
    color: var(--cinza-secundario);
    margin: 1.5em 0;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}

@media (max-width: 1100px) {

    .container {
        display: flex;
        flex-direction: column;
        margin: 10em 0;
    }


    .container__telas {
        flex-direction: column-reverse;
    }

    .secundario__imagem {
        width: 60%;
    }

    .dispositivos__lista {
        flex-direction: column;
    }

    .dispositivos__titulo {
        font-size: 2.5rem;
    }

    .rodape__lista {
        flex-direction: column;
    }


}